<a href="https://colab.research.google.com/github/Fais-123/firstRepo/blob/master/Pandas_Practice_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas Practice**
This notebook Explains detail practices about pandas library:

# Data Manipualtion

- Raw data
- Tidy up data
- Data filtration
- Data removal/ignoring
- Rank/Arrange Data
- Data Joining
- Data splitting
- Find Missing Data
- Duplicate removal
- Get readable,Consistent data
- Data Analysis
- Plotting graps
- Creating Report/Summary
- Data Presentation

# Data Analysis

- Descriptive Analytics( What Happened)
- Diagnostic Anaytics( Why did it Happened)
- Predictive Analytics( What is likely to happen in future)
- Prescriptive Analytics( What is the best course of action to take)

# Difference B/w Pandas and Excel Terminologies:

| Pandas    |    Excel    |
|:-----------:|:-------------:|
|Data Frame |  worksheet  |
|series     |   Column    |
| Index     |Row Headings |
| Row       |  Row        |
| NaN       |  Empty Cell |

In [20]:
import pandas as pd
import numpy as np

In [6]:
import pandas as pd
import numpy as np
#Object Creation
s=pd.Series([1,3,5,7,8,9]) #series means columns in pandas.
print(s)

0    1
1    3
2    5
3    7
4    8
5    9
dtype: int64

In [9]:
s=pd.Series([1,3,5,np.nan,7,8,9]) #to add an empty call  in pandas.
print(s)            #NaN refers to empty cell.

0    1.0
1    3.0
2    5.0
3    NaN
4    7.0
5    8.0
6    9.0
dtype: float64

In [10]:
dates=pd.date_range("20220102",periods=5)
dates # to print date it print from our given date to forward 5 dates.

DatetimeIndex(['2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05',
               '2022-01-06'],
              dtype='datetime64[ns]', freq='D')

In [27]:
# Making a dataframe
dates=pd.date_range("20220102",periods=25)
df=pd.DataFrame(np.random.randn(25,4),index=dates,columns=list("ABCD"))
df

                   A         B         C         D
2022-01-02  0.484771 -0.232415 -1.601443  1.924578
2022-01-03  0.141587  0.892340 -0.117412  1.020479
2022-01-04  1.475169 -0.621410 -0.935829  2.431469
2022-01-05 -0.056804  1.008463  1.165601 -1.824243
2022-01-06 -0.480205  0.073734  0.468893 -1.374579
2022-01-07 -0.544821 -0.639396 -0.927569  2.579531
2022-01-08  0.107512 -1.196051  0.802113 -0.293476
2022-01-09  1.310005  0.344954 -1.630167 -1.359689
2022-01-10 -2.304123 -2.412834  0.944313  0.310001
2022-01-11  0.776484 -0.519494  2.161218 -0.085278
2022-01-12 -1.907094 -2.320368 -0.781034 -1.467873
2022-01-13  0.918725 -1.306641 -0.982362 -0.762072
2022-01-14 -0.165990  1.791909  2.995681  1.031142
2022-01-15 -0.742504 -0.312770  1.712934 -1.681756
2022-01-16 -0.794218 -0.004400  0.435482 -0.905213
2022-01-17  0.408493 -1.129510 -0.460138  1.467824
2022-01-18  1.400557 -0.133851 -0.359243  1.628866
2022-01-19 -1.069282  0.135101 -0.339825 -0.974821
2022-01-20  1.193872 -0.521081 -0.356495 -0.703450
2022-01-21  0.371492  0.644477  0.752603  0.255941
2022-01-22  1.529150  1.721226 -1.129192  0.314832
2022-01-23  0.135467  0.742493 -0.488983  1.027161
2022-01-24 -0.895495  0.063466 -1.445649  0.657495
2022-01-25 -0.940188  1.308932 -0.656560  0.711043
2022-01-26 -0.903821  1.209296 -0.072650 -1.185420

In [47]:
#Making a dataset through dictionary data structure
import pandas as pd
import numpy as np
df2=pd.DataFrame(
    {
      "A":1.0,
      "B": pd.Timestamp("20220401"),
      "C": pd.Series(1,index=list(range(4)),dtype="float32"),
      "D": np.array([3] * 4, dtype="int32"),
      "E": pd.Categorical(["test","train","test","train"]),
      "F":"foo"
    }
)
df2

     A          B    C  D      E    F
0  1.0 2022-04-01  1.0  3   test  foo
1  1.0 2022-04-01  1.0  3  train  foo
2  1.0 2022-04-01  1.0  3   test  foo
3  1.0 2022-04-01  1.0  3  train  foo

In [42]:
c=np.array([3] * 4)
c

array([3, 3, 3, 3])

In [49]:
print(df2.dtypes)

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [50]:
#to view initial rows of dataframe we use head
df.head(7)

                   A         B         C         D
2022-01-02  0.484771 -0.232415 -1.601443  1.924578
2022-01-03  0.141587  0.892340 -0.117412  1.020479
2022-01-04  1.475169 -0.621410 -0.935829  2.431469
2022-01-05 -0.056804  1.008463  1.165601 -1.824243
2022-01-06 -0.480205  0.073734  0.468893 -1.374579
2022-01-07 -0.544821 -0.639396 -0.927569  2.579531
2022-01-08  0.107512 -1.196051  0.802113 -0.293476

In [51]:
#to view last rows of dataframe we use tail
df.tail(2)

                   A         B        C         D
2022-01-25 -0.940188  1.308932 -0.65656  0.711043
2022-01-26 -0.903821  1.209296 -0.07265 -1.185420

In [53]:
#to view index of data frame
df.index

DatetimeIndex(['2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05',
               '2022-01-06', '2022-01-07', '2022-01-08', '2022-01-09',
               '2022-01-10', '2022-01-11', '2022-01-12', '2022-01-13',
               '2022-01-14', '2022-01-15', '2022-01-16', '2022-01-17',
               '2022-01-18', '2022-01-19', '2022-01-20', '2022-01-21',
               '2022-01-22', '2022-01-23', '2022-01-24', '2022-01-25',
               '2022-01-26'],
              dtype='datetime64[ns]', freq='D')

In [54]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [56]:
#If we want to convert our data frame into array then we use numpy
df.to_numpy()

array([[ 0.48477061, -0.23241548, -1.60144281,  1.92457805],
       [ 0.14158702,  0.89234011, -0.1174121 ,  1.02047901],
       [ 1.47516924, -0.62141012, -0.93582881,  2.43146887],
       [-0.05680405,  1.0084628 ,  1.16560149, -1.82424272],
       [-0.48020467,  0.0737341 ,  0.46889289, -1.37457905],
       [-0.54482124, -0.63939608, -0.92756914,  2.57953143],
       [ 0.1075117 , -1.19605102,  0.80211339, -0.29347587],
       [ 1.31000451,  0.34495359, -1.63016658, -1.35968949],
       [-2.30412251, -2.4128337 ,  0.94431288,  0.31000144],
       [ 0.77648414, -0.51949423,  2.16121798, -0.08527822],
       [-1.90709442, -2.32036842, -0.78103425, -1.467873  ],
       [ 0.91872517, -1.30664052, -0.98236244, -0.76207227],
       [-0.1659898 ,  1.79190892,  2.99568085,  1.0311425 ],
       [-0.74250422, -0.31277001,  1.71293369, -1.68175588],
       [-0.79421765, -0.00439998,  0.43548221, -0.90521303],
       [ 0.40849333, -1.12950951, -0.46013841,  1.46782402],
       [ 1.40055702, -0.13385135, -0.35924349,  1.62886594],
       [-1.06928244,  0.13510092, -0.33982456, -0.97482122],
       [ 1.19387165, -0.52108065, -0.35649458, -0.70345006],
       [ 0.37149178,  0.64447679,  0.75260259,  0.25594129],
       [ 1.52915   ,  1.72122572, -1.12919201,  0.31483169],
       [ 0.13546709,  0.74249311, -0.48898287,  1.02716087],
       [-0.89549546,  0.06346643, -1.44564901,  0.65749516],
       [-0.94018827,  1.30893234, -0.6565599 ,  0.71104345],
       [-0.90382116,  1.20929577, -0.0726504 , -1.18542045]])

In [57]:
df.ndim

2

In [58]:
df2.to_numpy()

array([[1.0, Timestamp('2022-04-01 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2022-04-01 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2022-04-01 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2022-04-01 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [59]:
df2.ndim

2

In [61]:
#to get different imp quantities of data frame we use describe.
df2.describe()

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [62]:
df.describe()

               A          B          C          D
count  25.000000  25.000000  25.000000  25.000000
mean   -0.022051  -0.056553  -0.033829   0.109700
std     1.040322   1.105320   1.183057   1.315423
min    -2.304123  -2.412834  -1.630167  -1.824243
25%    -0.794218  -0.621410  -0.927569  -0.974821
50%     0.107512  -0.004400  -0.356495   0.255941
75%     0.776484   0.742493   0.752603   1.027161
max     1.529150   1.791909   2.995681   2.579531

In [63]:
#to take transpose of data frame
df2.T

                     0  ...                    3
A                    1  ...                    1
B  2022-04-01 00:00:00  ...  2022-04-01 00:00:00
C                    1  ...                    1
D                    3  ...                    3
E                 test  ...                train
F                  foo  ...                  foo

[6 rows x 4 columns]

In [83]:
dates=pd.date_range("20220102",periods=25)
df=pd.DataFrame(np.random.randn(25,4),index=dates,columns=list("ABCD"))
df

                   A         B         C         D
2022-01-02  1.208687  0.475277  0.424198 -0.657401
2022-01-03  0.200568 -0.553875 -0.969837 -0.286384
2022-01-04 -0.959622 -1.090484 -1.145199  0.740517
2022-01-05 -0.627519 -1.396707 -0.279267 -1.673067
2022-01-06  0.905739  0.645928 -1.880262 -1.383677
2022-01-07 -0.634175 -1.732586  0.792518 -1.230026
2022-01-08  0.692005 -2.548066 -0.862402 -0.319739
2022-01-09 -0.262513 -0.918973  0.747178  0.074805
2022-01-10 -0.014913  1.323724 -1.153749  0.903030
2022-01-11 -0.188356 -0.109369  0.251582  0.385712
2022-01-12 -0.061915 -0.355339 -1.746429 -0.999472
2022-01-13 -0.003822 -1.174627  0.138129 -1.535260
2022-01-14 -0.712645 -0.508519  2.631171 -2.717134
2022-01-15  2.276273  0.618725 -0.825677 -1.328074
2022-01-16  0.932486 -1.523585 -0.888800  0.416240
2022-01-17 -0.571022  1.202466 -0.427169  0.364215
2022-01-18 -1.168208  0.408848 -0.622668 -1.046313
2022-01-19 -0.306762  0.278934 -0.079426 -0.555133
2022-01-20  1.845974  1.139710  1.279552 -0.423030
2022-01-21  1.097914 -0.638690  1.646948  0.498993
2022-01-22 -2.857907  0.080243 -0.052512  0.479194
2022-01-23  1.342412 -1.113996  0.351740  0.417536
2022-01-24 -0.288180  1.527725 -0.584508 -0.574698
2022-01-25  0.990269 -1.828726  0.299448  1.981183
2022-01-26  0.550212  0.184114  1.736989  0.610357

In [88]:
df.sort_index(axis=0,ascending=False) #axis=0 means along columns and ascending False means date sorting/index/row head in descending order .

                   A         B         C         D
2022-01-26  0.550212  0.184114  1.736989  0.610357
2022-01-25  0.990269 -1.828726  0.299448  1.981183
2022-01-24 -0.288180  1.527725 -0.584508 -0.574698
2022-01-23  1.342412 -1.113996  0.351740  0.417536
2022-01-22 -2.857907  0.080243 -0.052512  0.479194
2022-01-21  1.097914 -0.638690  1.646948  0.498993
2022-01-20  1.845974  1.139710  1.279552 -0.423030
2022-01-19 -0.306762  0.278934 -0.079426 -0.555133
2022-01-18 -1.168208  0.408848 -0.622668 -1.046313
2022-01-17 -0.571022  1.202466 -0.427169  0.364215
2022-01-16  0.932486 -1.523585 -0.888800  0.416240
2022-01-15  2.276273  0.618725 -0.825677 -1.328074
2022-01-14 -0.712645 -0.508519  2.631171 -2.717134
2022-01-13 -0.003822 -1.174627  0.138129 -1.535260
2022-01-12 -0.061915 -0.355339 -1.746429 -0.999472
2022-01-11 -0.188356 -0.109369  0.251582  0.385712
2022-01-10 -0.014913  1.323724 -1.153749  0.903030
2022-01-09 -0.262513 -0.918973  0.747178  0.074805
2022-01-08  0.692005 -2.548066 -0.862402 -0.319739
2022-01-07 -0.634175 -1.732586  0.792518 -1.230026
2022-01-06  0.905739  0.645928 -1.880262 -1.383677
2022-01-05 -0.627519 -1.396707 -0.279267 -1.673067
2022-01-04 -0.959622 -1.090484 -1.145199  0.740517
2022-01-03  0.200568 -0.553875 -0.969837 -0.286384
2022-01-02  1.208687  0.475277  0.424198 -0.657401

In [89]:
df.sort_values(by="B") #columnwise sorting.

                   A         B         C         D
2022-01-08  0.692005 -2.548066 -0.862402 -0.319739
2022-01-25  0.990269 -1.828726  0.299448  1.981183
2022-01-07 -0.634175 -1.732586  0.792518 -1.230026
2022-01-16  0.932486 -1.523585 -0.888800  0.416240
2022-01-05 -0.627519 -1.396707 -0.279267 -1.673067
2022-01-13 -0.003822 -1.174627  0.138129 -1.535260
2022-01-23  1.342412 -1.113996  0.351740  0.417536
2022-01-04 -0.959622 -1.090484 -1.145199  0.740517
2022-01-09 -0.262513 -0.918973  0.747178  0.074805
2022-01-21  1.097914 -0.638690  1.646948  0.498993
2022-01-03  0.200568 -0.553875 -0.969837 -0.286384
2022-01-14 -0.712645 -0.508519  2.631171 -2.717134
2022-01-12 -0.061915 -0.355339 -1.746429 -0.999472
2022-01-11 -0.188356 -0.109369  0.251582  0.385712
2022-01-22 -2.857907  0.080243 -0.052512  0.479194
2022-01-26  0.550212  0.184114  1.736989  0.610357
2022-01-19 -0.306762  0.278934 -0.079426 -0.555133
2022-01-18 -1.168208  0.408848 -0.622668 -1.046313
2022-01-02  1.208687  0.475277  0.424198 -0.657401
2022-01-15  2.276273  0.618725 -0.825677 -1.328074
2022-01-06  0.905739  0.645928 -1.880262 -1.383677
2022-01-20  1.845974  1.139710  1.279552 -0.423030
2022-01-17 -0.571022  1.202466 -0.427169  0.364215
2022-01-10 -0.014913  1.323724 -1.153749  0.903030
2022-01-24 -0.288180  1.527725 -0.584508 -0.574698

In [87]:
df.sort_values(by="B",ascending=False) #Same column sorting in descending order due to ascending = False

                   A         B         C         D
2022-01-24 -0.288180  1.527725 -0.584508 -0.574698
2022-01-10 -0.014913  1.323724 -1.153749  0.903030
2022-01-17 -0.571022  1.202466 -0.427169  0.364215
2022-01-20  1.845974  1.139710  1.279552 -0.423030
2022-01-06  0.905739  0.645928 -1.880262 -1.383677
2022-01-15  2.276273  0.618725 -0.825677 -1.328074
2022-01-02  1.208687  0.475277  0.424198 -0.657401
2022-01-18 -1.168208  0.408848 -0.622668 -1.046313
2022-01-19 -0.306762  0.278934 -0.079426 -0.555133
2022-01-26  0.550212  0.184114  1.736989  0.610357
2022-01-22 -2.857907  0.080243 -0.052512  0.479194
2022-01-11 -0.188356 -0.109369  0.251582  0.385712
2022-01-12 -0.061915 -0.355339 -1.746429 -0.999472
2022-01-14 -0.712645 -0.508519  2.631171 -2.717134
2022-01-03  0.200568 -0.553875 -0.969837 -0.286384
2022-01-21  1.097914 -0.638690  1.646948  0.498993
2022-01-09 -0.262513 -0.918973  0.747178  0.074805
2022-01-04 -0.959622 -1.090484 -1.145199  0.740517
2022-01-23  1.342412 -1.113996  0.351740  0.417536
2022-01-13 -0.003822 -1.174627  0.138129 -1.535260
2022-01-05 -0.627519 -1.396707 -0.279267 -1.673067
2022-01-16  0.932486 -1.523585 -0.888800  0.416240
2022-01-07 -0.634175 -1.732586  0.792518 -1.230026
2022-01-25  0.990269 -1.828726  0.299448  1.981183
2022-01-08  0.692005 -2.548066 -0.862402 -0.319739

In [90]:
#to select or view any columns
df["B"]

2022-01-02    0.475277
2022-01-03   -0.553875
2022-01-04   -1.090484
2022-01-05   -1.396707
2022-01-06    0.645928
2022-01-07   -1.732586
2022-01-08   -2.548066
2022-01-09   -0.918973
2022-01-10    1.323724
2022-01-11   -0.109369
2022-01-12   -0.355339
2022-01-13   -1.174627
2022-01-14   -0.508519
2022-01-15    0.618725
2022-01-16   -1.523585
2022-01-17    1.202466
2022-01-18    0.408848
2022-01-19    0.278934
2022-01-20    1.139710
2022-01-21   -0.638690
2022-01-22    0.080243
2022-01-23   -1.113996
2022-01-24    1.527725
2022-01-25   -1.828726
2022-01-26    0.184114
Freq: D, Name: B, dtype: float64

In [91]:
#slicing/row wise selction in data frame
df[0:2]

                   A         B         C         D
2022-01-02  1.208687  0.475277  0.424198 -0.657401
2022-01-03  0.200568 -0.553875 -0.969837 -0.286384

In [94]:
df[3:6]

                   A         B         C         D
2022-01-05 -0.627519 -1.396707 -0.279267 -1.673067
2022-01-06  0.905739  0.645928 -1.880262 -1.383677
2022-01-07 -0.634175 -1.732586  0.792518 -1.230026

In [106]:
# Making a dataframe
dates=pd.date_range("20220101",periods=10)
df=pd.DataFrame(np.random.randn(10,4),index=dates,columns=list("ABCD"))
df

df.loc[dates[0]] #here,passing index and get row wise values and date

A   -1.274064
B   -0.237605
C   -0.095437
D   -0.347496
Name: 2022-01-01 00:00:00, dtype: float64

In [108]:
df.loc[dates[8]] #on index=8,date is 9

A   -1.493689
B   -0.654079
C    1.136445
D    0.090194
Name: 2022-01-09 00:00:00, dtype: float64

In [111]:
#getting data of multiple columns 
df.loc[:,["A","B"]]  # colon(:) means rows .

                   A         B
2022-01-01 -1.274064 -0.237605
2022-01-02 -1.338943  0.366184
2022-01-03  0.581586 -0.848366
2022-01-04 -1.475254 -1.996130
2022-01-05 -0.274225 -0.914097
2022-01-06  1.099096  1.465687
2022-01-07  1.099118  0.951996
2022-01-08 -0.725015 -0.621200
2022-01-09 -1.493689 -0.654079
2022-01-10  0.602921 -0.677584

In [114]:
#getting data of desired column by using date
df.loc["20220103":"20220105",["A","B"]]  #only give data from date b/w 3 to 5 means 3,4,5.

                   A         B
2022-01-03  0.581586 -0.848366
2022-01-04 -1.475254 -1.996130
2022-01-05 -0.274225 -0.914097